{{!-- 项目倒计时页面模板 --}}
<div class="project-countdown-page">
  <div class="container">
    {{#d-section pageClass="project-countdown-page"}}
      <div class="row">
        <div class="full-width">
          {{project-countdown}}
        </div>
      </div>
    {{/d-section}}
  </div>
</div>